/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

/* Header Section */

/* NavBar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 12.5%;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.left-nav {
  display: flex;
  gap: 5%;
  align-items: center;
}
.logo-img {
  width: 40%;
}
.logo-text {
  font-size: 1.8rem;
}
.logo-text span {
  color: #ff42a5;
}
.right-nav ul {
  display: flex;
}
.right-nav ul li {
  list-style: none;
  padding: 10px 20px;
  margin-right: 10px;
}
.right-nav ul li a {
  text-decoration: none;
  color: #3c354f;
  font-weight: 500;
}
.special-nav {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}
.nav-list-icon {
  margin: 0 10px;
}

/* Banner Section */
.banner {
  padding: 0% 12.5%;
  display: flex;
  align-items: center;
}
.banner-left {
  width: 100%;
}
.banner-description {
  color: #0b0223;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-title {
  margin-bottom: 1rem;
  font-size: 4.2rem;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-point {
  margin-bottom: 1rem;
  color: #534c64;
  font-size: 0.9rem;
  font-weight: 500;
}
.banner-right,
.banner-image {
  width: 100%;
}
.btn-1,
.btn-2 {
  border: none;
  padding: 15px 30px;
  border-radius: 48px;
  font-weight: 600;
  font-size: 0.9rem;
  color: white;
  margin-top: 1rem;
}
.btn-1 {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
}
.btn-2 {
  background-color: #4ec5f7;
  margin-left: 2%;
}
/* Gamer Section */
.gamer {
  padding: 5% 12.5%;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  display: flex;
  align-items: center;
}
.gamer-image {
  width: 100%;
}
.gamer-right {
  text-align: right;
  width: 60%;
}
.gamer-title {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gamer-description {
  color: #534c64;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 25px;
}
.gamer-purpose {
  margin-top: 1rem;
  color: #534c64;
  font-size: 16px;
  font-weight: 500;
}
.gamer-purpose-details {
  color: #534c64;
  font-size: 23px;
}

/* Online Section */
.online {
  padding: 5% 12.5%;
}
.online-title {
  color: #0b0223;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.online-title span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.online-description {
  color: #534c64;
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
.online-cards-container {
  margin-top: 2rem;
  display: flex;
  gap: 1.5%;
}
.online-card {
  width: 100%;
}
.card-image {
  width: 100%;
}
.card-description {
  margin-top: 1rem;
  color: #534c64;
  width: 95%;
  font-size: 0.85rem;
  font-weight: 500;
}

/* Instant Section */
.instant {
  padding: 3% 12.5%;
  display: flex;
  align-items: center;
}
.instant-left {
  text-align: right;
  margin-left: 4rem;
}
.instant-title {
  font-size: 2.2rem;
  font-weight: 700;
  width: 60%;
}
.instant-title span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.instant-description {
  margin-top: 1rem;
  width: 60%;
  color: #534c64;
  font-size: 0.85rem;
  line-height: 25px;
}
.instant-image-big {
  width: 100%;
}
.instant-image-small {
  position: absolute;
  top: 134rem;
  right: 35rem;
  width: 15%;
}

/* Games Section */
.games {
  padding: 5% 12.5%;
  margin-top: 3rem;
}

.games-1 {
  display: flex;
  justify-content: space-between;
}
.games-2 {
  display: flex;
  margin-top: 2rem;
  justify-content: space-evenly;
}
.game-card {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid transparent;
  padding: 2px;
  border-radius: 40px;
}
.game-card:hover {
  cursor: pointer;
  border-color: #ff42a5;
}
.game-name:hover {
  color: #ff42a5;
  transition: 0.3s;
}
.game-logo {
  width: 22%;
}
.game-name {
  font-size: 0.9rem;
  color: #0b0223;
  font-weight: 600;
}
/* Footer Section */
footer {
  background-color: #0b0223;
  padding: 5rem 0;
  text-align: center;
}
.footer-logo {
  display: flex;
  justify-content: center;
  gap: 1%;
  margin-bottom: 2rem;
}
.footer-logo-name {
  color: white;
  font-size: 2rem;
  font-weight: 700;
}
.footer-logo-name span {
  color: #ff42a5;
}
.footer-logo-image {
  width: 5%;
}
.list-1 {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  margin-bottom: 2rem;
}
.list-1 li {
  list-style-type: none;
}
.list-1 li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 0.85rem;
}
.footer-logo-container {
  margin-bottom: 2rem;
}
.fa-2xl {
  color: white;
  margin: 25px 10px;
}
.list-2 {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  margin-bottom: 2rem;
}
.list-2 li {
  list-style-type: none;
  list-style-type: none;
}
.list-2 li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 0.75rem;
}
.copyright {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 0.75rem;
}
/* Responsive */
/* Mobile Device */
@media screen and (max-width: 576px) {
  /* Navbar */
  nav {
    flex-direction: column;
    padding-top: 2rem;
  }
  .right-nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .right-nav ul {
    flex-direction: column;
    align-items: center;
  }
  .right-nav ul li {
    margin-bottom: 1rem;
  }
  /* Banner */
  .banner {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 2rem;
  }
  .banner-left {
    text-align: center;
    margin-top: 2rem;
    padding-bottom: 2rem;
  }
  /* Game */
  .gamer {
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .gamer-image {
    width: 100%;
  }
  .gamer-right {
    text-align: center;
    width: 80%;
  }
  .gamer-purpose {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  /* Online */
  .online {
    margin-top: 3rem;
    padding-bottom: 3rem;
  }
  .online-cards-container {
    flex-direction: column;
  }
  .online-card {
    margin-bottom: 1rem;
  }
  /* Instant */
  .instant {
    padding-top: 3rem;
    padding-bottom: 5rem;
    flex-direction: column;
  }
  .instant-left {
    text-align: center;
    margin-left: 0rem;
  }
  .instant-title {
    font-size: 2.2rem;
    width: 100%;
  }
  .instant-description {
    width: 100%;
    margin-bottom: 2rem;
  }
  .instant-image-big {
    margin-left: 1rem;
  }
  .instant-image-small {
    width: 30%;
    top: 257rem;
    left: 1.5rem;
  }
  /* Games */
  .games {
    display: none;
  }
  /* Footer */
  .footer-logo-image {
    width: 20%;
  }
  .list-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.1rem;
    margin-bottom: 1rem;
  }
  .list-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.1rem;
  }
}
